:root {
  --primary-color: #f9f8f7;
  --secondary-color: #ea6060;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  background-color: #1a1a1a;
  color: var(--primary-color);
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading-font-family);
}

footer.container {
  background-color: #2b3035;
  max-width: 100%;
  padding: 30px 60px;
  overflow: hidden;
}

li {
  list-style: none;
  line-height: 30px;
}

.body-copy {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.2px;
  line-height: 1.5rem;
}

.body-text-container {
  justify-content: center;
}

.footer-copy {
  font-size: 12px;
  padding: 0;
  text-decoration: none;
  color: var(--primary-color);
}

.footer-source-copy {
  font-size: 10px;
  margin-top: 30px;
}

.footer-logo {
  display: block;
  margin-left: auto;
  width: 40%;
}

.hero-feature {
  background-color: #1f1f1f;
  padding: 50px;
}

.hero-logo {
  display: block;
  margin: 0 auto;
  padding-top: 25px;
}

.landing-hero {
  background-image: url(../images/homepage_hero.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 200px 0px;
}

.navigation-text {
  color: var(--primary-color);
  font-size: 16px;
}

.navbar-logo {
  width: 150px;
  height: fit-content;
  padding: 10px;
}

.navbar-content {
  justify-content: end;
}
.primary-button {
  border: 1.3px solid var(--primary-color);
  border-radius: 0px;
  color: var(--primary-color);
  font-size: 14px;
  letter-spacing: 0.2px;
  margin-top: 40px;
  padding: 10px 20px;
  text-decoration: none;
}

.secondary-button {
  border: 1.3px solid var(--primary-color);
  border-radius: 0px;
  color: var(--primary-color);
  font-size: 14px;
  letter-spacing: 0.2px;
  margin-top: 40px;
  padding: 10px 20px;
  text-decoration: none;
}

.text-container {
  justify-content: center;
  padding: 0px 10px;
}

.navigation-text:hover {
  cursor: pointer;
  color: var(--secondary-color);
  transition: all 100ms ease-in-out;
}

.primary-button:hover {
  color: rgba(0, 0, 0, 0);
  transition: all 100ms ease-in-out;
}

.secondary-button:hover {
  border: 1.3px solid var(--secondary-color);
  color: var(--secondary-color);
  transition: all 100ms ease-in-out;
}

@media (max-width: 900px) {
  h3 {
    font-size: 20px;
    text-align: center;
  }

  footer {
    text-align: center;
  }

  .body-copy {
    text-align: center;
    font-size: 12px;
  }

  .contact-image {
    width: 50%;
    display: block;
    margin: 0 auto;
  }

  .feature-image {
    padding-bottom: 50px;
  }

  .footer-logo {
    width: 30%;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
  }

  .navbar-logo {
    padding: 0 5px;
    width: 100px;
  }

  .navigation-text {
    font-size: 12px;
  }

  .landing-hero {
    padding: 10px 0;
  }

  .primary-button {
    font-size: 11px;
    margin: 20px;
  }

  .secondary-button {
    font-size: 11px;
  }

  .secondary-feature {
    display: flex;
    flex-direction: row-reverse;
  }

  .social-links {
    letter-spacing: 25px;
    margin: 5px 0;
}

::selection {
  background: var(--secondary-color);
  color: var(--primary-color);
}
